.App {
  text-align: center;
}

/* .leaderboard {
  margin: 20px;
} */



/* .auto-scrolling-footer { */
  /* position: fixed; */
  /* bottom: 0; */
  /* width: 80%;
  display: flex;
  overflow: hidden;
} */

/* .footer-image{
  height:200px;
}
.auto-scrolling-footer img {
  width: 100%;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
} */
